body {
  background-color: #000;
  color: #fff;
}

.link {
  margin-right: 20px;
}

a {
  color: #f0f;
  text-decoration: none;
}

a:hover {
  color: #f0a;
  text-decoration: underline;
}

input[type="submit"],
button {
  background-color: #000;
  color: #fff;
  border: 2px solid #a0a;
  height: 30px;
  display: block;
  margin-top: 2px;
}

textarea {
  background-color: #000;
  color: #fff;
  border: 2px solid #f0a;
}

img {
  max-width: 600px;
  max-height: 600px;
}

