<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include seo.html %}
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <a class="link" href="/">Home</a>
    <a class="link" href="/">Explore</a>
    <a class="link" href="/blog">Blog</a>
    <a class="link" href="/donate">Donate</a>
    <a class="link" href="http://hschool.ml">Instance with JavaScript</a>
    <a class="link" href="http://hermades.ml">Hermades' site</a>
