{% include head.html %}

{% assign course = site.data.courses[page.course] %}

<h1>{{ course.title }}</h1>
<p>{{ course.longDesc }}</p>

<h1>Contents</h1>

{% for section in course.contents %}
  <h2>{{ section.title }}</h2>
  {% for lesson in section.contents %}
    <a href="{{ lesson.url }}">{{ lesson.title }}</a><br>
  {% endfor %}
{% endfor %}

{% include footer.html %}
