{% include head.html %}

{% assign course = site.data.courses[page.course] %}

<h1>{{ page.section }} - {{ page.title }}</h1>

{{ page.content | markdownify }}

<a href="{{ course.url }}">Go back</a>

{% include footer.html %}
